body {
  font-family:Helvetica;
  font-size:2em;
}

#time-container {
  margin-top: 2em;
}

#time {
  font-size:12em;
}

#time-ms {
  font-size:0.5em;
}

#main-button {
  margin-bottom: 2em;
}

.input-text {
  width:5em;
}

