@font-face {
  font-family: '7segb';
  src: url('lib/DSEG7Classic-Bold.woff'),
       url('lib/DSEG7Classic-Bold.ttf') format('truetype');

}

body {
  font-family:Helvetica;
  font-size:2em;
}

#time-container {
  margin-top: 2em;
}

#time {
  font-size:10em;
  font-family: '7segb';
  text-align:center;
}

#time-main {
  position:relative;
  width:100%;
}

#time-ms {
  font-size:0.3em;
  position:absolute;
  top:2.5em;
}

#main-button {
  margin-bottom: 2em;
}

.input-text {
  width:5em;
}

